*,*::after,*::before{
    box-sizing:border-box;
}
:root{
    --ModerateBlue:hsl(238, 40%, 52%);
    --SoftRed:hsl(358, 79%, 66%);
    --LightGrayishBlue:hsl(239, 57%, 85%);
    --PaleRead:hsl(357, 100%, 86%);

    --DarkBlue:hsl(212, 24%, 26%);
    --GrayishBlue: hsl(211, 10%, 45%);
    --LightGray:hsl(223, 19%, 93%);
    --VeryLightGray: hsl(228, 33%, 97%);
    --White: hsl(0, 0%, 100%);
}

body{
    width:100vw;
    min-height:100vh;
    font-family: 'Rubik', sans-serif;
    overflow-x:hidden;
}
.commentContainer{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-flow:row wrap;
}
.comment__wrapper{
    width:80%;
}
.comment,.reply{
    position:relative;
    width:100%;
    display:flex;
    justify-content:flex-start;
    align-items: center;
    flex-flow:column-reverse wrap;
    gap:1rem;
    margin:1rem;
    padding:.5rem;
    opacity:0;
    transform:translateY(-1rem);
    border:1px solid var(--LightGray);
    border-radius:16px;
    transition:opacity .3s,tranform .3s;

}
.commentSeen{
    opacity:1;
    transform:translateY(0);
}
.comment__userInfo{
    width:100%;
    display:flex;
    justify-content:flex-start;
    align-items:center;
    flex-direction:row;
    gap:1rem;
}
.comment__content,.comment__ago,.modalDelete__comment{
    color:var(--GrayishBlue);
}
.comment__content{
    width:100%;
    margin-bottom:3rem;
    resize:none;
    border:none;
    outline:none;
    font-family:'Rubik',sans-serif;
    overflow:visible;
}
.comment__replyTo{
    color:var(--ModerateBlue);
}
.comment__votes{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-flow:row wrap;
    align-self:flex-start;
    gap:1rem;
    padding:.5rem;
    margin-right:.5rem;
    margin-bottom:.5rem;
    background-color:var(--VeryLightGray);
    border-radius:10px;
    cursor:pointer;

}
.comment__votes--count{
    margin:0;
}
.comment__votes--replybtn{
    position:absolute;
    bottom:1rem;
    right:1rem;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-flow:row wrap;
    gap:1rem;
    border:none;
    background-color:var(--White);
    cursor:pointer;
}
.comment__votes--voteIcon{
    padding:1rem;
}
.reply{
    width:calc(90% - 7vw);
    margin-left:8vw;
}
.reply::before{
    content:'';
    position:absolute;
    left:-4vw;
    display:inline-block;
    height:100%;
    width:10px;
    background-color:var(--VeryLightGray);
    border-radius:10px;

}

.postComment{
    width:80%;
    height:20vh;
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
    flex-flow:row wrap;
    margin-left:auto;
    margin-right:auto;
    padding:.5rem;
    border:1px solid var(--LightGray);
    border-radius:10px;
}
.postComment__comment{
    width:100%;
    height:50%;
    border:1px solid var(--LightGray);
    border-radius:10px;
    outline:none;
    padding:.2rem;
    font-family:'Rubik',sans-serif;
    resize:none;
}
.postComment__author{
    width:2rem;
}
.postComment__post{
    width:6rem;
    height:3rem;
    border:none;
    border-radius:10px;
    background-color:var(--ModerateBlue);
    color:#fff;
    cursor:pointer;
}
.modalDelete{
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    display:none;
    opacity:0;
    width:min(90%,25rem);
    padding:1rem;
    background-color: #fff;
    border:1px solid var(--LightGray);
    border-radius:10px;
    z-index:10;
    transition:opacity .3s,transform .3s;
}
.active{
    display:inline-block;
    transform:translate(-50%,-50%);
    opacity:1;
}
.modalDelete__btnContainer{
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    flex-flow:row wrap;
}
.modalDelete__btn{
    padding:.8rem;
    border:1px solid var(--LightGray);
    border-radius:5px;
    color:#fff;
    cursor:pointer;
    
}

.modalDelete__btnYes{
    background-color:var(--SoftRed);
}
.modalDelete__btn:hover{
    opacity:0.5;
}
.modalDelete__btnNo{
    background-color:var(--GrayishBlue);
}
.putButton{
    position:absolute;
    bottom:1rem;
    right:1rem;
    padding:1rem;
    border:none;
    border-radius:10px;
    background-color:var(--GrayishBlue);
    color:#fff;
    cursor:pointer;

}
.replytoreply{
    width:calc(90% - 7vw);
    margin:0;
    margin-left:8vw;
}
.postComment__cancel{
    width:6rem;
    height:3rem;
    border:none;
    border-radius:10px;
    background-color:var(--SoftRed);
    color:#fff;
    cursor:pointer;
}
@media screen and (min-width:900px){
    .comment,.reply{
        flex-direction:row;
    }
    .comment__votes--replybtn{
        position:static;
    }
    .comment__votes{
        flex-direction:column;
    }
    
    .comment__votes--replybtn{
        margin-left:auto;
    }
}